<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../static/style.css">
      <link rel="stylesheet" href="../static/home.css">
      <link rel="icon" href="../static/img/minha_logotipo-claro.png" type="image/png">
      <title>Home</title>
   </head>

   <body>
      <section>
         <div class="menu">
            <a href="/projetos">
               PROJETOS
            </a>

            <a href="/" id="foto">
               <img src="../static/img/foto-perfil.jpeg" alt="foto-perfil">
            </a>

            <a href="/voluntariados">
               VOLUNTARIADO
            </a>
         </div>
         

         <div class="conteudo-sobre">
            <div class="sobre-mim">
               <h1>SOBRE MIM</h1>
               <p>Me chamo Mariana Izumi Kuroshima da Silva, 18 anos, 
                  moro em São José dos Campos - SP. Comecei por conta própria na programação no último ano do ensino médio,
                  onde vi um pouco de lógica e a linguagem de programação JavaScript. 
                  Assim, tomando gosto decidi que queria seguir na carreira, e aqui estou! :)</p>
            </div>            
                  
            <img src="../static/img/minha_logotipo-claro.png" alt="logotipo-miks">
               
            <div class="historico">
               <h1>HISTÓRICO ESCOLAR</h1>
               <p>Aqui irá ficar a linha do tempo horizontal onde mostrará as escolas que frequentei até o momento atual.</p>
               <ul>
                  <li>IFSP - São josé dos Campos (ensino médio técnico)</li>
                  <li>FATEC - São José dos Campos (graduação atual)</li>
               </ul>     
            </div>         
         </div>
         
         <div class="contatos">
            <h3>CONTATOS</h3>
            <div class="links">
                  <a href="https://github.com/MariMiks">
                     <img src="../static/img/github-icon.svg" alt="github-icon" target="_blank">
                     <p>Github</p>
                  </a>            
                 
                  <a href="mailto:mariana.izumiks@gmail.com?subject:Entrar em contato">
                     <img src="../static/img/email-icon.svg" alt="email-icon" target="_blank">
                     <p>E-mail</p>
                  </a>
      
                  <a href="https://www.linkedin.com/in/mariana-izumi-developer/">
                     <img class="linkedin-icon" src="../static/img/linkedin-icon.svg" alt="linkedin-icon" target="_blank">
                     <p>Linkedin</p>
                  </a>
            </div>
         </div>
      </section>

         <footer class="rodape">
            <p>2022 @ Mariana Izumi</p>
         </footer>
   </body>
</html>