<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../layout/style.css">
      <link rel="stylesheet" href="../layout/projeto.css">
      <link rel="icon" href="../img/minha_logotipo-claro.png" type="image/png">
      <title>Projetos</title>
   </head>

   <body>
      <section>
         <div class="menu">
            <a href="projeto.html">
               PROJETOS
            </a>

            <a href="index.html" id="foto">
               <img src="../img/minha_logotipo-claro.png" alt="foto-perfil">
            </a>

            <a href="voluntariado.html">
               VOLUNTARIADO
            </a>
         </div>

         <div class="paragrafo">
            <a href="https://github.com/MariMiks/html-css-workover">
               <img src="../img/primeira-pagina.jpg" alt="primeira página">
            </a>
   
            <div class="texto">
               <h1>PRIMEIRA PÁGINA</h1>
               <p>
                  Este foi o meu primeiro projeto que realizei por um curso disponibilizado na plataforma Workover. Utilizei as seguintes tecnologias:
               </p>
               <ul>
                  <li>HTML</li>
                  <li>CSS</li>
               </ul>
            </div>
         </div>

         <div class="paragrafo">
            <div class="texto">
               <h1>CERTIFICARD</h1>
               <p>
                  Projeto final da ImersãoDev da Alura que realizei em 2020, nele contém todos os demais projetos realizados durante esta semana de aprendizagem. Tecnologias utilizadas:            </p>
               <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript (nas demais aplicações)</li>
               </ul>
            </div>
   
            <a href="https://github.com/MariMiks/imersaodev-codepen/tree/main/imersaodev-certificard-alura/certificardalura">
               <img src="../img/certificard.jpg" alt="certificard">
            </a>
         </div>

         <div class="caixa">
            <p>Atualmente além dos projetos da faculdade, gostaria de dar início em algum projeto pessoal. Como por exemplo uma landing page do projeto voluntário que participo, o Projeto Á Flor da Pele </p>
         </div>

         <div class="contatos">
            <h3>CONTATOS</h3>
            <div class="links">
                  <a href="https://github.com/MariMiks">
                     <img src="../img/github-icon.svg" alt="github-icon" target="_blank">
                     <p>Github</p>
                  </a>            
                 
                  <a href="mailto:mariana.izumiks@gmail.com?subject:Entrar em contato">
                     <img src="../img/email-icon.svg" alt="email-icon" target="_blank">
                     <p>E-mail</p>
                  </a>
      
                  <a href="https://www.linkedin.com/in/mariana-izumi-developer/">
                     <img class="linkedin-icon" src="../img/linkedin-icon.svg" alt="linkedin-icon" target="_blank">
                     <p>Linkedin</p>
                  </a>
            </div>
         </div>
      </section>

      <footer class="rodape">
         <p>2022 @ Mariana Izumi</p>
      </footer>
   </body>
