<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../static/style.css">
   <link rel="stylesheet" href="../static/projeto.css">
   <link rel="icon" href="../static/img/minha_logotipo-claro.png" type="image/png">

</head>

<body>
   <section>
      <div class="menu">
         <a href="/projetos">
            PROJETOS
         </a>

         <a href="/" id="foto">
            <img src="../static/img/minha_logotipo-claro.png" alt="foto-perfil">
         </a>

         <a href="/voluntariados">
            VOLUNTARIADO
         </a>
      </div>

      <div class="paragrafo">

         <div class="texto">
            <a href="https://github.com/MariMiks/html-css-workover">
               <img src="../static/img/primeira-pagina.jpg" alt="primeira página">
            </a>
            <h1>PRIMEIRA PÁGINA</h1>
            <p>
               Este foi o meu primeiro projeto que realizei por um curso disponibilizado na plataforma Workover.
               Utilizei as seguintes tecnologias:
            </p>
            <ul>
               <li>HTML</li>
               <li>CSS</li>
            </ul>
         </div>

         <div class="texto">
            <a href="https://github.com/MariMiks/imersaodev-codepen/tree/main/imersaodev-certificard-alura/certificardalura">
               <img src="../static/img/certificard.jpg" alt="certificard">
            </a>

            <h1>CERTIFICARD</h1>
            <p>
               Projeto final da ImersãoDev da Alura que realizei em 2020, nele contém todos os demais projetos
               realizados durante esta semana de aprendizagem. Tecnologias utilizadas: </p>
            <ul>
               <li>HTML</li>
               <li>CSS</li>
               <li>JavaScript (nas demais aplicações)</li>
            </ul>
         </div>

         <div class="texto">
            <a href="https://github.com/whatscodeg3/API-DSM-ServiceDesk">
               <img src="../static/img/api1.jpg" alt="Service Desk">
            </a>

            <h1>SERVICE DESK</h1>
            <p>
               Projeto do primeiro semestre de Desenvolivimento de Software Multiplataforma 
               da FATEC que curso atualmente. Consiste em um interface
               que presta assessoria para solucionar problemas 
               integrado no ambiente de tecnologia da informação. 
               Neste projeto fiz uso da metodologia ágil SCRUM e as seguintes tecnologias:</p>
            <ul>
               <li>HTML</li>
               <li>CSS</li>
               <li>JavaScript</li>
               <li>Python</li>
               <li>Bootstrap</li>
               <li>MySQL</li>
               <li>SQLAlchemy</li>
            </ul>
         </div>
      </div>



      <div class="caixa">
         <p>Atualmente além dos projetos da faculdade, gostaria de dar início em algum projeto pessoal. Como por exemplo
            uma landing page do projeto voluntário que participo, o Projeto Á Flor da Pele.
         </p>
      </div>

      <div class="contatos">
         <h3>CONTATOS</h3>
         <div class="links">
            <a href="https://github.com/MariMiks">
               <img src="../static/img/github-icon-128.svg" alt="github-icon" target="_blank">
               <p>Github</p>
            </a>
            
            <a href="https://www.linkedin.com/in/mariana-izumi-developer/">
               <img src="../static/img/linkedin-icon-128.svg" alt="linkedin-icon" target="_blank">
               <p>Linkedin</p>
            </a>

            <a href="mailto:mariana.izumiks@gmail.com?subject:Entrar em contato">
               <img src="../static/img/email-icon-128.svg" alt="email-icon" target="_blank">
               <p>E-mail</p>
            </a>

         </div>
      </div>
   </section>

   <footer class="rodape">
      <p>2022 @ Mariana Izumi</p>
   </footer>
</body>