{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/voluntariado.css">
{% endblock %}


{% block title %}Voluntariado{% endblock %}


{% block foto %}
<img src="../static/img/minha_logotipo-claro.png" alt="foto-perfil">
{% endblock %}


{% block conteudo %}
<div class="container">

   <div class="parte1">
      <div class="texto">
         <h1>MAHIKARITAI</h1>
         <p>Grupo de jovens voluntários entre 10 e 35 anos da sede Mahikari. Com o objetivo de formar novos líderes e
            propagar a arte mahikari com alegria e sempre um sorriso no rosto.</p>
      </div>
      <img src="../static/img/mahikaritai.jpg" alt="logo-mahikaritai">
   </div>

   <div class="parte2">
      <img src="../static/img/interact.jpg" alt="logo-interact">
      <div class="texto">
         <h1>INTERACT</h1>
         <p>Clube de voluntários de 12 a 18 anos. Com o objetivo de gerar novos líderes que promovem o bem da sociedade
            e do meio ambiente através de atos simples como doações, projetos de visitas entre outras ações.</p>
      </div>
   </div>

</div>
{% endblock %}