<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../layout/style.css">
      <link rel="stylesheet" href="../layout/voluntariado.css">
      <link rel="icon" href="../img/minha_logotipo-claro.png" type="image/png">
      <title>Volutariado</title>
   </head>

   <body>
      <section>
         <header>
            <a href="projeto.html" target="_blank" rel="noopener noreferrer">
               <button id="projeto">PROJETOS</button>
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
               <button id="hobby">VOLUNTARIADO</button>
            </a>
            
            <a href="index.html" target="_blank" rel="noopener noreferrer">
               <img class="logotipo-miks" src="../img/minha_logotipo-claro.png" alt="logotipo-miks">
            </a> 
         </header>

         <div class="grupo">
            <div class="texto-mahikari">
               <h1>MAHIKARITAI</h1>
               <p>Grupo de jovens voluntários entre 10 e 35 anos da sede Mahikari. Com o objetivo de formar novos líderes e propagar a arte mahikari com alegria e sempre um sorriso no rosto.</p>
            </div>
            <img src="../img/mahikaritai.jpg" alt="logo-mahikaritai">
         </div>

         <div class="grupo">
            <img src="../img/interact.jpg" alt="logo-interact">
            <div class="texto-interact">
               <h1>INTERACT</h1>
               <p>Clube de voluntários de 12 a 18 anos. Com o objetivo de gerar novos líderes que promovem o bem da sociedade e do meio ambiente através de atos simples como doações, projetos de visitas entre outras ações.</p>
            </div>
         </div>

         <div class="contatos">
            <h3>CONTATOS</h3>
            <p> 
               <a href="https://github.com/MariMiks">
                  <img src="../img/github-icon.svg" alt="github-icon" target="_blank">Github
               </a>            
            </p>
              
            <p>
               <a href="mailto:mariana.izumiks@gmail.com?subject:Entrar em contato">
                  <img src="../img/email-icon.svg" alt="email-icon" target="_blank">E-mail
               </a>
            </p>
   
            <p>
               <a href="https://www.linkedin.com/in/mariana-izumi-developer/">
                  <img class="linkedin-icon" src="../img/linkedin-icon.svg" alt="linkedin-icon" target="_blank">Linkedin
               </a>
            </p>
         </div>
      </section>

      <footer class="rodape">
         <p>2022 @ Mariana Izumi</p>
      </footer>
   </body>
         
