<!DOCTYPE html>
<html lang="pt-br">
<head>
   {% block head %}
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../static/style.css">
   <link rel="icon" href="../static/img/minha_logotipo-claro.png" type="image/png">
   <title>{% block title %}  {% endblock %}</title>
   {% endblock %}
   
</head>
<body>
   <section>
      {% block menu %}
      <div class="menu">
         <a href="/projetos">
            PROJETOS
         </a>
   
         <a href="/" id="foto">
            {% block foto %} {% endblock %}
         </a>
   
         <a href="/voluntariado">
            VOLUNTARIADO
         </a>
      </div>
      {% endblock %}

      {% block conteudo %}

      {% endblock %}

      {% block contatos %}
      <div class="contatos">
         <h3>CONTATOS</h3>
         <div class="links">
            <a href="https://github.com/MariMiks">
               <img src="../static/img/github-icon-128.svg" alt="github-icon" target="_blank">
               <p>Github</p>
            </a>
            
            <a href="https://www.linkedin.com/in/mariana-izumi-developer/">
               <img src="../static/img/linkedin-icon-128.svg" alt="linkedin-icon" target="_blank">
               <p>Linkedin</p>
            </a>

            <a href="mailto:mariana.izumiks@gmail.com?subject:Entrar em contato">
               <img src="../static/img/email-icon-128.svg" alt="email-icon" target="_blank">
               <p>E-mail</p>
            </a>

         </div>
      </div>
      {% endblock %}
   </section>

   {% block footer %}
   <footer class="rodape">
      <p>2022 &copy; Mariana Izumi</p>
   </footer>
   {% endblock %}
</body>
</html>