{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block head %}
   {{ super() }}
   <link rel="stylesheet" href="../static/home.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block foto %}
<img src="../static/img/foto-perfil.jpeg" alt="foto-perfil">
{% endblock %}

{% block conteudo %}
<div class="conteudo">
   <div class="conteudo-sobre">
      <div class="sobre-mim">
         <h1>SOBRE MIM</h1>
         <p>Me chamo Mariana Izumi Kuroshima da Silva, 20 anos,
            moro em São José dos Campos - SP. Comecei por conta própria na programação no último ano do ensino médio,
            onde vi um pouco de lógica e a linguagem de programação JavaScript.
            Assim, tomando gosto decidi que queria seguir na carreira, e aqui estou! :)</p>
      </div>

      <img id="logo" src="../static/img/logotipo.png" alt="logotipo-miks">
   </div>


   <div class="container">
      <!-- title -->
      <h2 class="pb-3 pt-2 border-bottom mb-5 text-center">HISTÓRICO ESCOLAR</h2>

      <!--first section-->
      <div class="row align-items-center how-it-works d-flex">
         <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">1</div>
         </div>
         <div class="col-6">
            <h5>FATEC - São José dos Campos</h5>
            <p>Atualmente</p>
            <p>Desenvolivimento de Software Multiplataforma</p>
         </div>
      </div>

      <!--path between 1-2-->
      <div class="row timeline">
         <div class="col-2">
            <div class="corner top-right"></div>
         </div>
         <div class="col-8">
            <hr />
         </div>
         <div class="col-2">
            <div class="corner left-bottom"></div>
         </div>
      </div>

      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works d-flex">
         <div class="col-6 text-right">
            <h5>IFSP - São José dos Campos</h5>
            <p>2019-2021</p>
            <p>Técnico em Mecânica Integrado ao Ensino Médio</p>
         </div>
         <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2</div>
         </div>
      </div>

      <!--path between 2-3-->
      <div class="row timeline">
         <div class="col-2">
            <div class="corner right-bottom"></div>
         </div>
         <div class="col-8">
            <hr />
         </div>
         <div class="col-2">
            <div class="corner top-left"></div>
         </div>
      </div>
   </div>
</div>
{% endblock %}