{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/projeto.css">
{% endblock %}

{% block title %}Projetos{% endblock %}

{% block foto %}
<img src="../static/img/logotipo.png" alt="logotipo MIKS">
{% endblock %}


{% block conteudo %}
<div class="paragrafo">

   <div class="escolhas">
      <a href="#topicoPessoal">Pessoais</a> | <a href="#topicoAcademico">Acadêmicos</a>
   </div>

   <div class="titulo">
      <p id="topicoPessoal">PESSOAIS</p>
      <div class="linha"></div>
   </div>

   <details class="texto">
      <summary>Certificard</summary>

      <a href="https://github.com/MariMiks/imersaodev-codepen/tree/main/imersaodev-certificard-alura/certificardalura">
         <picture>
            <source media="(max-width: 660px)" srcset="../static/img/certificard_pq.jpg">
            <img src="../static/img/certificard.jpg" alt="certificard">
         </picture>
      </a>
      <h1>CERTIFICARD</h1>
      <p>
         Projeto final da ImersãoDev da Alura que realizei em 2020, nele contém todos os demais projetos
         realizados durante esta semana de aprendizagem. Tecnologias utilizadas: </p>
      <ul>
         <li>HTML</li>
         <li>CSS</li>
         <li>JavaScript (nas demais aplicações)</li>
      </ul>
   </details>

   <div class="texto">
      <a href="https://github.com/MariMiks/html-css-workover">
         <picture>
            <source media="(max-width: 660px)" srcset="../static/img/primeira-pagina_pq.jpg">
            <img src="../static/img/primeira-pagina.jpg" alt="primeira página">
         </picture>
      </a>
      <h1>PRIMEIRA PÁGINA</h1>
      <p>
         Este foi o meu primeiro projeto que realizei por um curso disponibilizado na plataforma Workover.
         Utilizei as seguintes tecnologias:
      </p>
      <ul>
         <li>HTML</li>
         <li>CSS</li>
      </ul>
   </div>

   <div class="titulo">
      <p id="topicoAcademico">ACADÊMICOS</p>
      <div class="linha"></div>
   </div>

   
   <div class="texto">
      <a href="https://github.com/whatscodeg3/API-DSM-ServiceDesk">
         <picture>
            <source media="(max-width: 660px)" srcset="../static/img/hermez_pq.png">
            <img src="../static/img/hermez.png" alt="Service Desk">
         </picture>
      </a>

      <h1>HERMEZ</h1>
      <p>
         Projeto do segundo semestre de Desenvolivimento de Software Multiplataforma
         da FATEC que curso atualmente. Consiste em desenvolver um sistema de Gerenciamento de Chamados 
         de Serviços. Este sistema deve ser capaz de fornecer informações sobre disponibilização 
         de funcionalidades de planejamento, de acompanhar e controlar atendimentos de chamados de serviços, 
         além de criar e exibir relatórios analíticos.
         Neste projeto fiz uso da metodologia ágil SCRUM e as seguintes tecnologias:</p>
      <ul>
         <li>HTML</li>
         <li>CSS</li>
         <li>JavaScript</li>
         <li>MySQL</li>
         <li>NodeJS</li>
         <li>React</li>
      </ul>
   </div>

   <div class="texto">
      <a href="https://github.com/whatscodeg3/API-DSM-ServiceDesk">
         <picture>
            <source media="(max-width: 660px)" srcset="../static/img/api1_pq.jpg">
            <img src="../static/img/api1.jpg" alt="Service Desk">
         </picture>
      </a>

      <h1>SERVICE DESK</h1>
      <p>
         Projeto do primeiro semestre de Desenvolvimento de Software Multiplataforma
         da FATEC que curso atualmente. Consiste em um interface
         que presta assessoria para solucionar problemas
         integrado no ambiente de tecnologia da informação.
         Neste projeto fiz uso da metodologia ágil SCRUM e as seguintes tecnologias:</p>
      <ul>
         <li>HTML</li>
         <li>CSS</li>
         <li>JavaScript</li>
         <li>Python</li>
         <li>Bootstrap</li>
         <li>MySQL</li>
         <li>SQLAlchemy</li>
      </ul>
   </div>
</div>

{% endblock %}