.paragrafo{
   display: flex;
   width: 90%;
   margin: auto;
   padding: 1rem;
   justify-content: center;
   align-items: center;
   gap: 5rem;
}

.paragrafo img{
   width: 100%;
   border-radius: 1rem;
}

.paragrafo a{
   width: 90%;
   text-align: center;
}


.texto{
   width: 80%;
}

.caixa{
   width: 90%;
   margin: 2rem;
   background-color:#E4BAFE;
   padding: 1rem;
   border-radius: 1rem;
}