/*reset do navegador*/
* {
   padding: 0%;
   box-sizing: border-box;
   appearance: none;
   border-style: initial;
   border-color: initial;
   border-image: initial;
   border-width: 0px;
   text-size-adjust: 100%;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}


/*imagem de fundo*/
body{
   position: absolute;
   background: url("../img/background-portfolio.png");
   background-size: cover;
   width: 100%;
}


/*container*/
section{
   display: block;
   position: absolute;
   background-color: #f8f8f8;
   width: 1028px;
   height: auto;
   margin: 150px;
   border-radius: 50px;
}


/*cabeçalho*/
header{
   max-height: 200px;
   border-radius: 50px;
}

.foto-perfil{
   display: block;
   width: 250px;
   height: 250px;
   margin: auto;
   border-radius: 100%;
   border: 8px solid #f8f8f8;
   transform: translateY(-90%);
}

.logotipo-miks{
   display: block;
   width: 250px;
   height: 250px;
   margin: auto;
   border-radius: 100%;
   transform: translateY(-90%);
}

/*botões do menu*/
header button{
   padding: 30px 34px;
   background-color:#E4BAFE;
   border-radius: 15px;
   cursor: pointer;
}

#projeto{
   margin-top: 50px;
   margin-left: 141px;
}

#hobby{
   float: right;
   margin-top: 50px;
   margin-right: 144px;
}



/*contatos*/
.contatos{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
}

.contatos img{
   width: 15%;
   align-content: flex-end;
}

/*footer*/
.rodape{
   color: antiquewhite;
   margin-top: 1090px;
   margin-left: 600px;
}
