.grupo{
   display: flex;
   width: 70%;
   margin: auto;
   padding: auto;
}

.grupo img{
   width: 20%;
   border-radius: 100%;
}

.texto-mahikari{
   text-align: left;
}

.texto-interact{
   text-align: right;
}
